@font-face {
  font-family: 'League Mono';
  src: url("../assets/fonts/LeagueMonoVariable.woff2");
}

@font-face{
    font-family: 'Bitter', serif;
    src: url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
}


/* text: Font Playground */
body {
    color: $foregroundColor;
    font-family: 'League Mono';
    position: absolute; 
    font-variation-settings:
        'wght' 600.00,
        'wdth' 100.00; 
}



h1 {
    font-size: 72px;
}

h2 {
    font-family: 'Bitter';
    font-weight: Regular;
}

h3 {
    font-size: 24px;
    text-align: center;
}

h4 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    font-variation-settings:
        'wght' 800.00,
        'wdth' 100.00; 
}

h6 {
    font-size: 16px;
    padding: 8px;
    margin: 0;
}

p {
    font-size: 22px;
    padding: 16px;
}

.marqueeContainer {
    font-size: 16px;
    font-variation-settings:
        'wght' 400.00,
        'wdth' 800.00; 
    
}

#linkColor {
    color:$foregroundColor;
    }

