@font-face {
  font-family: 'League Mono';
  src: url("../assets/fonts/LeagueMonoVariable.woff2");
}


/* text: Font Playground */
body {
    color: $foregroundColor;
    font-family: 'League Mono';
    font-size: 60px; 
    position: absolute; 
    font-variation-settings:
        'wght' 800.00,
        'wdth' 50.00; 
}