body{
    overscroll-behavior: none;
}

.hook {
    background-color: $backgroundColor;
    height: 120vw;
    width: 100vw;
    border-bottom: $border;
    }

.marqueeContainer {
    width: 100vw;
    height: 64px;
    background-color: $backgroundColor;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.marquee {
    white-space: nowrap;
}

#mUp {
    top:0;
    border-bottom: $border;
}

#mDown {
    bottom:0;
    border-top: $border;
}

#hero {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sidescroll {
    position: fixed;
    top:100vh;
    width: 100vw;
    height: 100vh;
    background-color: $backgroundColor;
    border-top: $border;
    overflow: hidden;
    z-index: 460;
    border-bottom: $border;
}

#about {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.project {
    height: 100vh;
    width: 100vw;
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 600
    position: absolute;
    top: 0;
    left: 100vw;
    border-left: $border;
    border-bottom: $border;
    }

#contact {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundColor;
    z-index: 450;
    opacity: 0; 
}